@page "/company/posted-jobs"
@inject DatabaseProvider _db
@inject IDialogService _dialogService
@inject IMapper _mapper
@inject ISnackbar _snackbar

<PageTitle>Career Application | Posted Jobs</PageTitle>

<MudText Typo="Typo.h5" Color="Color.Secondary" Class="mb-4">
    <strong>Posted Jobs</strong>
</MudText>

<div class="d-flex justify-end my-2">
    <MudButton Variant="Variant.Filled" Size="Size.Small" StartIcon="@Icons.Material.Filled.PostAdd" Color="Color.Primary" OnClick="OpenAddJobDialog">Add New Job</MudButton>
</div>
<MudTable Items="@_jobs" Dense="true" Striped="true" Filter="new Func<Job,bool>(FilterJobs)">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Job List</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Title</MudTh>
        <MudTh>Sector</MudTh>
        <MudTh>Applying Due Date</MudTh>
        <MudTh>Job Location</MudTh>
        <MudTh>Posted By</MudTh>
        <MudTh Class="d-flex justify-center">Actions</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Title">@context.Title</MudTd>
        <MudTd DataLabel="Job Category">@context.Sector?.Name</MudTd>
        <MudTd DataLabel="Applying Due Date">@context.ApplicationDueDate.ToString("dd MMM yyyy")</MudTd>
        <MudTd DataLabel="Job Location">@context.JobLocation</MudTd>
        <MudTd DataLabel="Posted By">@context.Company?.Name</MudTd>
        <MudTd DataLabel="Actions" Class="d-flex justify-center">
            <MudTooltip Text="View">
                <MudIconButton Icon="@Icons.Material.Filled.Visibility" Color="Color.Success" Link="@($"/company/posted-job-details/{context.Id}")"></MudIconButton>
            </MudTooltip>
            <MudTooltip Text="Edit">
                <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Info" OnClick="() => OpenEditJobDialog(context)"></MudIconButton>
            </MudTooltip>
            <MudTooltip Text="Delete">
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error"></MudIconButton>
            </MudTooltip>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

@code {
    // Properties
    private IEnumerable<Job> _jobs = new List<Job>();
    private string _searchString = string.Empty;

    // Lifecycle Methods
    protected override async Task OnInitializedAsync()
    {
        await GetPostedJobsAsync();
    }

    // Private Methods
    private async Task GetPostedJobsAsync()
    {
        try
        {
            Func<FirebaseObject<JobEntity>, JobEntity> selector = (job) => _mapper.Map<JobEntity>(job.Object);

            var jobs = await _db.GetAllAsync<JobEntity>(JobEntity.Node, selector);

            if (jobs != null && jobs.Count() > 0)
            {
                _jobs = jobs.Select(job => _mapper.Map<Job>(job)).ToList();

                foreach (var job in _jobs)
                {
                    Func<SectorEntity, bool> sectorPredicate = (sector) => sector.Id == job.SectorId;
                    Func<FirebaseObject<SectorEntity>, SectorEntity> sectorSelector = (sector) => _mapper.Map<SectorEntity>(sector.Object);

                    var sector = await _db.GetByIdAsync<SectorEntity>(SectorEntity.Node, sectorPredicate, sectorSelector);
                    _jobs.Where(j => j.Id == job.Id).First().Sector = _mapper.Map<Sector>(sector);

                    Func<UserEntity, bool> companyPredicate = (company) => company.Id == job.CompanyId;
                    Func<FirebaseObject<UserEntity>, UserEntity> companySelector = (company) => _mapper.Map<UserEntity>(company.Object);

                    var company = await _db.GetByIdAsync<UserEntity>(UserEntity.Node, companyPredicate, companySelector);
                    _jobs.Where(j => j.Id == job.Id).First().Company = _mapper.Map<User>(company);
                }
            }

        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
            _snackbar.Add("Cannot fetch posted jobs", Severity.Error);
        }

    }

    private bool FilterJobs(Job job) => FilterFunc(job, _searchString);

    private bool FilterFunc(Job job, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (job.Title.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (job.ApplicationDueDate.ToString().Contains(searchString))
            return true;
        return false;
    }

    private async void OpenAddJobDialog()
    {
        var parameters = new DialogParameters { ["Type"] = "Add" };
        var options = new DialogOptions { CloseOnEscapeKey = true, FullWidth = true, MaxWidth = MaxWidth.Medium };
        var dialog = _dialogService.Show<AddOrEditJobDialog>("Add New Job", parameters, options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            var isModified = (bool) result.Data;

            if (isModified)
            {
                _snackbar.Add("Operation done successfully", Severity.Success);
                await GetPostedJobsAsync();
                StateHasChanged();
            }
            else
            {
                _snackbar.Add("An error has occurred", Severity.Success);
            }
        }
    }

    private async void OpenEditJobDialog(Job job)
    {
        var parameters = new DialogParameters { ["Type"] = "Edit", ["Job"] = job };
        var options = new DialogOptions { CloseOnEscapeKey = true, FullWidth = true, MaxWidth = MaxWidth.Medium };
        var dialog = _dialogService.Show<AddOrEditJobDialog>("Edit Job", parameters, options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            var isModified = (bool) result.Data;

            if (isModified)
            {
                _snackbar.Add("Operation done successfully", Severity.Success);
                await GetPostedJobsAsync();
                StateHasChanged();
            }
            else
            {
                _snackbar.Add("An error has occurred", Severity.Success);
            }
        }
    }
}
