@inject IBrowserStorageService _browserService
@inject NavigationManager _navigationManager

<div class="d-flex flex-row justify-center mud-width-full">
    <img src="/images/appicon.png" alt="Logo" width="150">
</div>
<MudDivider Class="mb-4"/>
<MudNavMenu Color="Color.Primary" Bordered="true">
    @if (_user.Role?.Name == "Administrator")
    {
        <MudNavLink Href="/admin/dashboard" Match="NavLinkMatch.All" Icon="@Icons.Material.Outlined.Dashboard">Dashboard</MudNavLink>
        <MudNavLink Href="/admin/users" Match="NavLinkMatch.All" Icon="@Icons.Material.Outlined.Groups">Users</MudNavLink>
    }
    else if (_user.Role?.Name == "Company")
    {
        <MudNavLink Href="/company/dashboard" Match="NavLinkMatch.All" Icon="@Icons.Material.Outlined.Dashboard">Dashboard</MudNavLink>
        <MudNavLink Href="/company/posted-jobs" Match="NavLinkMatch.All" Icon="@Icons.Material.Outlined.Assignment">Posted Jobs</MudNavLink>
        <MudNavLink Href="/company/rate-us" Match="NavLinkMatch.All" Icon="@Icons.Material.Outlined.StarHalf">Rate Us</MudNavLink>
    }
</MudNavMenu>

@code {
    // Properties
    private User _user = new();

    // Lifecycle Methods
    protected override async Task OnInitializedAsync()
    {
        var user = await _browserService.GetItem<User>("user");

        if (user == null)
            _navigationManager.NavigateTo(_navigationManager.BaseUri, replace: true);
        else
            _user = user;
    }
}